<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">
        <hr>
        <div class="card">

            <div class="card-header">
                <h2>Edição do cadastro de professor</h2>
            </div>

            <div class="card-body">
                <br>
                <form method="post" action="/admin/professores/editando">
                <input class="form-control"type="text" name="name" value="<%=teacher.nameTeacher%>" placeholder="Nome do professor" required>
                <br>
                <input class="form-control" type="email" name="email" value="<%=teacher.emailTeacher%>" placeholder="E-mail do professor" required>
                <br>
                <input type="hidden" name="idTeacher" value="<%=teacher.idTeacher%>">
                <button class="btn btn-success">Editar</button>
                </form>
            </div>

        </div>

    </div>
</body>
</html>