<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">
        <hr>
        <h1>Matérias</h1>
        <a href="/admin/materias/cadastrar" class="btn btn-success">Cadastrar nova matéria!</a>
        <hr>

        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Professor</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% classes.forEach(clas => { %>
                    <tr>
                        <td><%= clas.idClass %></td>
                        <td><%= clas.titleClass %></td>
                        <td>
                            <a href="/admin/class/editar/<%= clas.idClass %>" class="btn btn-warning">Editar</a>

                            <form method="post" action="/admin/materias/delete" style="display: inline;" onsubmit="confirmDelete(event,this)">
                            <input type="hidden" name="id" value="<%= clas.idClass%>">
                            <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>

            </tbody>
            

        </table>
    </div>

</body>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        let decision = confirm("Você deseja realmente deletar essa matéria?");
        if(decision){
            form.submit();
        }
    }
</script>

</html>