<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">
        <hr>
        <h1>Avaliações</h1>
        <a href="/professor/avaliacao/cadastrar" class="btn btn-success">Criar nova avaliação</a>
        <hr>

        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th>Matéria</th>
                    <th>Data da geração</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <% tests.forEach(test =>{ %>
                    <tr>
                        <% if (test.classIdClass != null) { %>
                            <% classes.forEach(clas => { %>
                                <% if (clas.idClass == test.classIdClass) { %>
                                    <td><%= clas.titleClass %></td>
                                 <% } %>
                            <% }) %>
                         <% } else { %>
                                    <td>-</td>
                        <%}%>

                        <td><%= test.createdAt %></td>

                        <td><a href="/aluno/avaliacao/<%= test.idTest %>" class="btn btn-warning">ver avaliação</a></td>
                    </tr>
                <%} ) %>

            </tbody>
            

        </table>
    </div>

</body>

</html>