<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">

        <br>

        <form action="/aluno/avaliacao/enviando" method="post" onsubmit="getAnswers(event,this)">

            <div class="row">
                <div class="col-6">
                    <label for="nameStudent">Nome do Aluno:</label>
                    <input type="text" class="form-control" name="nameStudent" id="nameStudent" required placeholder="Nome">
                </div>
    
                <div class="col-6">
                    <label for="emailStudent">E-mail EDUCAR do Aluno:</label>
                    <input type="text" class="form-control" name="emailStudent" id="emailStudent" required placeholder="aluno@educar.rs.gov.br">
                </div>
            </div>

                <% titles.forEach(title => { %>

                    <div class="card mt-5">
                        <div class="card-header">
                            <h5><%= title.bodyTitle %></h5>
                        </div>
        
                        <div class="card-body">
                            <% options.forEach(option => { %>
                                <% if(option.TitlesQuestionIdTitle == title.idTitle) { %>

                                    <div class="mb-3">
                                        <div class="input-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                  <input class="form-check-input mt-0" name="<%= option.TitlesQuestionIdTitle %>" type="radio" value="<%= option.idOption %>" aria-label="Radio button for following text input" required>
                                                </div>
                                                <input type="text" name="" class="form-control" value="<%= option.bodyOption %>" readonly>
                                            </div>
                                      </div>
                                    </div>

                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                <% }) %>

                <div class="d-grid gap-2 mb-5 mt-5">
                    <input type="hidden" id="allAnswers" name="allAnswers">
                    <input type="hidden" name="idTest" value="<%= idTest %>">
                    <button class="btn btn-success">Enviar avaliação!</button>
                </div>

        </form>

    </div>
</body>

<script>
    function getAnswers(event, form){
    event.preventDefault();
    let arrAnswers=[];

    let answersInputs = document.querySelectorAll('input[type=radio]:checked');
    answersInputs.forEach(answer => {
        arrAnswers.push(answer.value);
    });
    document.getElementById('allAnswers').value = arrAnswers;
    form.submit();
}
   
</script>
</html>